<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{activatedRoute.snapshot.paramMap.get('categoria') != 'null' ? activatedRoute.snapshot.paramMap.get('categoria'): activatedRoute.snapshot.paramMap.get('qArea')}}</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content  [fullscreen]="true" style="text-align: center">    

  <!-- <ion-header class="header2 " collapse="condense">
    <div>
      <img src="../../../assets/img/logo_black.png">
      <div style="display: flex" (click)="back()" class="backIcon">
        <ion-icon name="arrow-back"></ion-icon>
      </div>
      <h1 class="dayListTitle">{{activatedRoute.snapshot.paramMap.get('categoria')}}</h1>
    </div>
  </ion-header> -->

  <div style="background-color: #FF634B;">
    <br><br>
    <img class="logo" style="width: 50%;" src="../../../assets/img/inttroLogo-trasparente.png">
    <br><br><br>
    <div style="font-size: 25px; font-weight: bold; margin-bottom: 10px; color: white;">
      <span *ngIf="activatedRoute.snapshot.paramMap.get('qArea')">{{activatedRoute.snapshot.paramMap.get('qArea')}}</span> 
      <span *ngIf="activatedRoute.snapshot.paramMap.get('categoria') != 'null'"> / {{activatedRoute.snapshot.paramMap.get('categoria')}}</span>
    </div>
    <br>
  </div>

  <br><br>

  <div class="mainTitle">
    <!-- <h5>Parlaci della tua</h5> -->
    <!-- <h1 class="mt-0">Categorie</h1> -->
    <h4>Rispondi alla domanda n.{{+activatedRoute.snapshot.paramMap.get('index') + 1}} di {{dataSet.length}}</h4>
  </div> 
 
  <div>      
    <form [formGroup]="form" (keydown.enter)="$event.preventDefault()"> 

      <ion-item>
        <ion-label position="floating" class="ion-text-wrap"><span style="font-size: 20px;">{{data.questionText}}</span></ion-label>
        <ion-select [formControlName]="data.num" placeholder="Seleziona un valore">
          <ion-select-option *ngFor="let option of data.answerAllowedVals" value="{{option.value}}">{{option.value}}</ion-select-option>
        </ion-select>
      </ion-item>       

      <br>

      <ion-item *ngIf="qArea == 'Fitness'">
        <ion-label position="floating" class="ion-text-wrap"><span style="font-size: 20px;">Eseguito</span></ion-label>
        <ion-select formControlName="eseguito" placeholder="Seleziona un valore">
          <ion-select-option *ngFor="let option of eseguitoanswerAllowedVals" value="{{option.value}}">{{option.value}}</ion-select-option>
        </ion-select>
      </ion-item>      

      <br>    

      <ion-item *ngIf="qArea == 'Fitness'">
        <ion-label position="floating" class="ion-text-wrap"><span style="font-size: 20px;">Risultato</span></ion-label>
        <ion-input placeholder="" formControlName="risultato" type="number"></ion-input>
        <ng-container>
            <div *ngIf="form.get('risultato').invalid && (form.get('risultato').dirty || form.get('risultato').touched)" class="error">
                <p>{{formGetError('risultato')}}</p>
            </div>
        </ng-container>
      </ion-item>       

      
      <!-- <div>{{data.questionText}}</div>
      <ion-item>
        <ion-select [formControlName]="data.num" placeholder="Seleziona un valore">
          <ion-select-option *ngFor="let option of data.answerAllowedVals" value="{{option.value}}">{{option.value}}</ion-select-option>
        </ion-select>
      </ion-item> -->
      
      <!-- <ion-item *ngFor="let item of data">
        <ion-label>{{item.questionText}}</ion-label>
        <ion-toggle slot="end"></ion-toggle>
      </ion-item> -->
      
    </form>
  </div>   

  <br><br><br><br>  
 
  <div>
    <div style="display: flex;">
      <ion-button [disabled]="+activatedRoute.snapshot.paramMap.get('index') <= 0" (click)="previousStep()" shape="round" color="button3"  class="plankBtn"><ion-icon name="arrow-back"></ion-icon></ion-button>
      <ion-button [disabled]="+activatedRoute.snapshot.paramMap.get('index') >= dataSet.length - 1" (click)="nextStep()" shape="round" color="button3"  class="plankBtn"><ion-icon name="arrow-forward"></ion-icon></ion-button>
    </div>
  </div>  

  <br><br>  
  
  <ion-button *ngIf="+activatedRoute.snapshot.paramMap.get('index') + 1 == dataSet.length" [routerLink]="['/categoria-selection/', activatedRoute.snapshot.paramMap.get('userId'), activatedRoute.snapshot.paramMap.get('qArea')]" shape="round" color="button4" class="plankBtnAction">Torna a lista categoria</ion-button> 

  <!-- <pre>{{data | json}}</pre> -->
  <!-- <pre>{{dataSet | json}}</pre> -->
  <!-- <pre>{{nextQuestion | json}}</pre> -->
  <!-- <pre>{{form.value | json}}</pre> -->

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button (click)="back()" class="backBtn primaryBtn" routerDirection='back'>
      <ion-icon name="arrow-back"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
</ion-content>
