/* p {
    font-size: 0.8em;
    color: #d2d2d2;
}

.invalid {
    border: 1px solid #ea6153;
} */


.item-wrapper{display: flex; align-items: center; justify-content: space-between}
.item-command{max-width: 20px; font-size: 20px;}
.error{color: red;; font-size: 12px; margin-left: 16px}