<ion-header>
  <ion-toolbar translucent="true">
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="back()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>

    </ion-buttons>
    <ion-title class="greyText">
      NUOVA PASSWORD
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="login-supplier-page basePage formPage">

  <!-- <pre>{{form.valid}}</pre> -->

  <form class="fullWidth ion-padding ion-margin" (ngSubmit)="submit()" [formGroup]="form">

      <!--onsubmit="processForm(event)"-->
      <h2 class="title">Nuova password</h2>

      <ion-list lines="full" class="ion-no-margin ion-no-padding">

        <ion-item>
          <ion-label position="stacked" class="greyText">PASSWORD <ion-text color="danger">*</ion-text></ion-label>
          <ion-input formControlName="password" type="password"></ion-input>
        </ion-item> 
        <div>
            <ng-container>
                <div *ngIf="form.get('password').invalid && (form.get('password').dirty || form.get('password').touched)" class="error">
                      <p>{{formGetError('password')}}</p>
                    </div>
            </ng-container>
        </div>

        <ion-item>
          <ion-label position="stacked" class="greyText">CONFERMA PASSWORD <ion-text color="danger">*</ion-text></ion-label>
          <ion-input formControlName="passwordMatch" type="password"></ion-input>
        </ion-item> 
        <div>
            <ng-container>
                <div *ngIf="form.get('passwordMatch').invalid && (form.get('passwordMatch').dirty || form.get('passwordMatch').touched)" class="error">
                      <p>{{formGetError('passwordMatch')}}</p>
                    </div>
            </ng-container>
        </div>

      </ion-list>

      <div class="ion-padding-top ion-padding-bottom">
        <ion-button shape="round" type="submit" expand="full" class="primaryBtn ion-margin-top" [disabled]="!form.valid">Accedi</ion-button>
      </div>

  </form>

</ion-content>